<html lang="pt">
<head>
  <title>BaskSys</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/javascripts/convocados.js" type="text/javascript"></script>
  <link rel="stylesheet" href="/stylesheets/convocados.css">
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/index">BaskSys</a>
    </div>
    <ul class="nav navbar-nav">
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Novo Utilizador</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav><br>
<h1><b>Convocados para o Jogo</b><br>Os Belenenses <b>vs</b> Estoril BC</h1><br>
<table>
  <tr>
    <th><b>Jogadores</b></th>
    <th><b>Escolha</b></th>
  </tr>
  <tr>
    <td id="jogador1">Daniel</td>
      <div class="container"><td>
  <form>
    <label class="radio-inline">
      <input type="radio" name="optradio" id="titular1">Titular
    </label>
    <label class="radio-inline">
      <input type="radio" name="optradio" id="suplente1">Suplente
    </label>
  </form>
 </td>
</div>
       
    </tr>
  <tr>
    <td id="jogador2">Jorge</td>
 <div class="container"><td>
  <form>
    <label class="radio-inline">
      <input type="radio" name="optradio" id="titular2">Titular
    </label>
    <label class="radio-inline">
      <input type="radio" name="optradio" id="suplente2">Suplente
    </label>
  </form>
 </td>
</div>
  </tr>
  <tr>
    <td id="jogador3">Jorge</td>
 <div class="container"><td>
    <form>
      <label class="radio-inline">
        <input type="radio" name="optradio" id="titular3">Titular
      </label>
      <label class="radio-inline">
        <input type="radio" name="optradio" id="suplente3">Suplente
      </label>
    </form>
  </td>
    </div>
  </tr>
  <tr>
    <td id="jogador4">Jorge</td>
 <div class="container"><td>
    <form>
      <label class="radio-inline">
        <input type="radio" name="optradio" id="titular4">Titular
      </label>
      <label class="radio-inline">
        <input type="radio" name="optradio" id="suplente4">Suplente
      </label>
    </form>
  </td>
    </div>
  </tr>
  <tr>
    <td id="jogador5">Jorge</td>
 <div class="container"><td>
    <form>
      <label class="radio-inline">
        <input type="radio" name="optradio" id="titular5">Titular
      </label>
      <label class="radio-inline">
        <input type="radio" name="optradio" id="suplente5">Suplente
      </label>
    </form>
  </td>
    </div>
  </tr>
  <tr>
    <td id="jogador6">Jorge</td>
 <div class="container"><td>
    <form>
      <label class="radio-inline">
        <input type="radio" name="optradio" id="titular6">Titular
      </label>
      <label class="radio-inline">
        <input type="radio" name="optradio" id="suplente6">Suplente
      </label>
    </form>
  </td>
    </div>
  </tr>
  <tr>
    <td id="jogador7">Jorge</td>
 <div class="container"><td>
    <form>
      <label class="radio-inline">
        <input type="radio" name="optradio" id="titular7">Titular
      </label>
      <label class="radio-inline">
        <input type="radio" name="optradio" id="suplente7">Suplente
      </label>
    </form>
  </td>
    </div>
  </tr>

  <tr>
    <td id="jogador8">Jorge</td>
 <div class="container"><td>
    <form>
      <label class="radio-inline">
        <input type="radio" name="optradio" id="titular8">Titular
      </label>
      <label class="radio-inline">
        <input type="radio" name="optradio" id="suplente8">Suplente
      </label>
    </form>
  </td>
    </div>
  </tr>
</table><br>
    <div id="sub">
    <button type="button" class="btn btn-info btn-lg" onclick="clickAlert()">Enviar convocatoria
        <span class="glyphicon glyphicon-list-alt"></span></button>

    </div>
</body>
</html>