<html lang="pt">
<head>
  <title>BaskSys</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/javascripts/index.js"></script>
    <link rel="stylesheet" href="/stylesheets/styleindex.css">
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/index">BaskSys</a>
    </div>
    <ul class="nav navbar-nav">
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Novo Utilizador</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav> 

<h1>BaskSys Demo</h1><br>
<img id="logo" src="/images/baskLogo.png" class="center" style="width:360">
   <br><hr><br>
<div id="users">
       <a href="/jogosTreinador" class="btn btn-info btn-lg">
           <span class="glyphicon glyphicon-user"></span> Treinador</button></a>
   <a href="/jogos" class="btn btn-info btn-lg" role="button">
        <span class="glyphicon glyphicon-eye-open"></span> Observador</a>
    <button type="button" class="btn btn-info btn-lg" onclick="clickAlert()">
      <span class="glyphicon glyphicon-apple"></span> Atleta</button>
    <button type="button" class="btn btn-info btn-lg" onclick="clickAlert()">
      <span class="glyphicon glyphicon-wrench"></span> Administrador</button>
</div>
    </body>
    </body>
</html>