
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 40%;
    margin: auto;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}


    tr:nth-child(even) {
    background-color: #dddddd;
}
    h1{
        text-align: center;
    }
    
    #sub{
        text-align: center;
    }

    input[type="radio"] {
        -ms-transform: scale(1.5); /* IE 9 */
        -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
        transform: scale(1.5);
    }