/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 1000;
    margin-left: 255px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
h1{
    text-align: center;
}
tr:hover{
    background:lightblue;
}
